.idea/
.gradle
build/
gradle/
out/
gradlew
gradlew.bat
cmake-build-debug/
src/main/go/snippets/deck/x.data

src/main/rust/rs/target/*
src/main/rust/rs/Cargo.lock
src/main/rust/rs/.idea
src/main/rust/dyn/target/

src/main/webassembly/wasm1/node_modules/
src/main/webassembly/wasm2/node_modules/
src/main/webassembly/wasm3/node_modules/
src/main/webassembly/wasm4/node_modules/
src/main/webassembly/wasm4 (copy)
src/main/webassembly/wasm5
src/main/webassembly/wasm6



src/main/go/snippets/app1/votes.diskqueue.meta.dat

src/main/go/snippets/app1/*.dat

