.idea/
.gradle
build/
gradle/
out/
gradlew
gradlew.bat
cmake-build-debug/
go/snippets/deck/x.data

rust/rs/target/*
rust/rs/Cargo.lock
rust/rs/.idea
rust/dyn/target/
rust/cli/target/

rust/pipe/target/

webassembly/wasm1/node_modules/
webassembly/wasm2/node_modules/
webassembly/wasm3/node_modules/
webassembly/wasm4/node_modules/
webassembly/wasm4 (copy)
webassembly/wasm5
webassembly/wasm6



go/snippets/app1/votes.diskqueue.meta.dat

go/snippets/app1/*.dat
go/snippets/app1/mongodbdata/*

*.env
rust/iterator/target/*
rust/algo/target/*
*.lock
